:root {
  --primary-font: "Poppins", sans-serif;
  --bg-primary: #4f1468;
  --hamBtn-color: white;
  --bg-master: #d7d7e0;
  --yellow: #feeb0b;
}

.pre_header .pre_header__banner {
  background: var(--yellow);
  color: black;
  height: 30px;
  padding: 2px 10px;
}

.pre_header .pre_header__banner .pre_header__bannerNotice {
  font-size: 1rem;
  line-height: 30px;
  margin-right: 10px;
}

.pre_header .pre_header__banner .pre_header__bannerDate #time {
  font-weight: bold;
  line-height: 30px;
}

@media (max-width: 1000px) {
  .pre_header .pre_header__banner {
    height: auto;
  }
  .pre_header .pre_header__banner .row {
    text-align: center;
    display: block;
  }
}

.pre_header .pre_header_imgBox {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

.pre_header .pre_header_imgBox img {
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

header {
  background: var(--bg-primary);
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul li {
  list-style: none;
  padding: 10px 0;
  border-left: 2px solid white;
}

header nav ul li:hover.nav__clickable span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header nav ul li:hover .nav__nestedNav {
  display: block !important;
}

header nav ul li:last-child {
  border-right: 2px solid white;
}

header nav ul li.nav__clickable {
  position: relative;
}

header nav ul li.nav__clickable .nav__nestedNav {
  display: none;
  background: var(--bg-primary);
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 200px;
  -webkit-animation: nestednav 0.3s ease;
          animation: nestednav 0.3s ease;
}

@-webkit-keyframes nestednav {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes nestednav {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

header nav ul li.nav__clickable .nav__nestedNav li {
  width: 100%;
  border: none;
}

header nav ul li.nav__clickable .nav__nestedNav li:hover {
  background: rgba(0, 0, 0, 0.219);
}

header nav ul li.nav__clickable span {
  display: inline-block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  font-size: 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav ul li a {
  margin: 0 20px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
}

@media (max-width: 1000px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background: none;
    overflow: hidden;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    background: var(--bg-primary);
    display: block !important;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header nav ul.nav__ul__open {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  header nav ul li {
    border-left: none;
    border-bottom: 1px solid white;
    cursor: pointer;
  }
  header nav ul li:hover.nav__clickable span {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  header nav ul li:hover .nav__nestedNav {
    display: none !important;
  }
  header nav ul li:last-child {
    border-right: none;
  }
  header nav ul li.nav__clickable span {
    position: relative;
    left: 10px;
  }
  header nav ul li.nav__clickable.nav__open span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  header nav ul li.nav__clickable.nav__open .nav__nestedNav {
    display: block !important;
  }
  header nav ul li.nav__clickable .nav__nestedNav {
    display: none !important;
    background: cadetblue;
    position: relative;
    top: 0;
    width: 90%;
    height: auto;
    margin: 20px auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  header .header__btn {
    background: var(--bg-primary);
    z-index: 10;
    border-bottom: 1px solid white;
    padding: 10px;
  }
  header .header__btn #hamBtn {
    height: 50px;
    width: 50px;
    background: transparent;
    border: 2px solid var(--hamBtn-color);
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
  }
  header .header__btn #hamBtn span {
    width: 30px;
    height: 3px;
    background: var(--hamBtn-color);
    -webkit-box-shadow: 0 10px 0 var(--hamBtn-color), 0 -10px 0 var(--hamBtn-color);
            box-shadow: 0 10px 0 var(--hamBtn-color), 0 -10px 0 var(--hamBtn-color);
  }
}

.img_slider {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.img_slider .img_slider__container {
  padding: 0 5px;
}

.img_slider .img_slider__container .img_slider__imgBox {
  max-width: 500px;
}

.img_slider .img_slider__container .img_slider__slider {
  max-width: 645px;
  width: 100%;
  position: relative;
}

.img_slider .img_slider__container .img_slider__slider .img_slider__slider_item {
  opacity: 0;
  position: absolute;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.img_slider .img_slider__container .img_slider__slider .img_slider__slider_item.active {
  opacity: 1;
}

.img_slider .img_slider__container .img_slider__slider .img_slider__slider_item img {
  height: 100%;
  width: 100%;
}

.img_slider .img_slider__container .img_slider__slider .img_slider__sliderIcon {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img_slider .img_slider__container .img_slider__slider .img_slider__sliderIcon .arrow {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_slider .img_slider__container .img_slider__slider .img_slider__sliderIcon .arrow:hover {
  background: rgba(0, 0, 0, 0.055);
}

.img_slider .img_slider__container .img_slider__slider .img_slider__sliderIcon .arrow:hover i {
  color: black;
}

.img_slider .img_slider__container .img_slider__slider .img_slider__sliderIcon .arrow.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.img_slider .img_slider__container .img_slider__slider .img_slider__sliderIcon i {
  z-index: 1;
  font-size: 2.5rem;
  padding: 10px;
  color: rgba(0, 0, 0, 0.089);
}

@media (max-width: 1000px) {
  .img_slider .img_slider__container .img_slider__slider .img_slider__sliderIcon i {
    display: none;
  }
}

#master {
  background: var(--bg-master);
}

#master .master__divider {
  height: 5px;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.288);
          box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.288);
}

#master .master__container {
  padding-top: 40px;
  overflow: hidden;
}

#master .master__container .master__navtog {
  display: none;
}

#master .master__container .master__navigator {
  border-top: 3px solid var(--yellow);
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

#master .master__container .master__navigator .master__navigator_link {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 0.9rem;
  padding: 10px 20px;
  text-transform: capitalize;
  background: var(--bg-primary);
  color: white;
  z-index: 10;
  cursor: pointer;
}

@media (min-width: 1000px) {
  #master .master__container .master__navigator .master__navigator_link:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.2;
    z-index: -1;
  }
  #master .master__container .master__navigator .master__navigator_link:hover .master__navigator_link_nested {
    display: block !important;
  }
  #master .master__container .master__navigator .master__navigator_link:hover span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

#master .master__container .master__navigator .master__navigator_link span {
  display: inline-block;
  position: absolute;
  right: 10px;
  font-size: 1rem;
  text-align: right;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#master .master__container .master__navigator .master__navigator_link .master__navigator_link_nested {
  display: none;
  list-style: none;
  position: absolute;
  right: -70%;
  top: 0;
  height: auto;
  width: 70%;
  background: var(--bg-primary);
}

#master .master__container .master__navigator .master__navigator_link .master__navigator_link_nested li {
  padding: 10px 20px;
  position: relative;
  z-index: 10;
}

#master .master__container .master__navigator .master__navigator_link .master__navigator_link_nested li:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.2;
  z-index: -1;
}

#master .master__container .master__body {
  margin: 0 40px;
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
  height: 80vh;
  overflow: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

#master .master__container .master__body::-webkit-scrollbar {
  display: none;
}

#master .master__container .master__body .recent__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#master .master__container .master__body .recent__tabs .recent__tabs_item {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  text-transform: capitalize;
  border: 1px solid gray;
  cursor: pointer;
}

#master .master__container .master__body .recent__tabs .recent__tabs_item.active {
  background: #ededed;
}

#master .master__container .master__body .recent__tabs .recent__tabs_item:hover:not(.active) {
  background: #ededed25;
}

#master .master__container .master__body .master__navigator_item:nth-child(3) h1::after {
  content: "No Scroll";
  font-size: 0.8rem;
  position: relative;
  left: 50px;
}

#master .master__container .master__body .master__navigator_item:nth-child(3) p {
  height: auto;
  overflow: visible;
  background: transparent;
}

#master .master__container .master__body .master__body_content {
  padding: 40px 0px;
}

#master .master__container .master__body .master__body_content h1 {
  display: inline-block;
  position: relative;
  background: #33333311;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
}

#master .master__container .master__body .master__body_content p {
  text-align: justify;
  display: inline-block;
  max-height: 500px;
  height: 100%;
  background: #ededed;
  overflow-y: scroll;
  padding: 10px 5px;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

#master .master__container .master__body .master__body_content p::-webkit-scrollbar {
  display: none;
}

#master .master__container .master__body .master__body_content.recent__body_item {
  display: none;
}

#master .master__container .master__body .master__body_content.recent__body_item .msg-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: auto;
}

#master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_img {
  height: auto;
  border: 1px solid black;
}

#master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_img img {
  padding: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  vertical-align: middle;
}

#master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_details {
  padding-left: 40px;
}

#master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_details h3 {
  text-transform: capitalize;
}

#master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_details p {
  font-size: 0.8rem;
  background: transparent;
  padding-left: 0;
}

#master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_details a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: red;
  font-weight: 600;
}

#master .master__container .master__body .master__body_content.recent__body_item.active {
  display: block;
  -webkit-animation: recent__bodyPopup 0.3s ease;
          animation: recent__bodyPopup 0.3s ease;
}

@-webkit-keyframes recent__bodyPopup {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes recent__bodyPopup {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  #master .master__container .master__body .recent__tabs .recent__tabs_item {
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
  }
  #master .master__container .master__body .master__body_content h1 {
    font-size: 1.2rem;
  }
  #master .master__container .master__body .master__body_content p {
    font-size: 0.8rem;
  }
  #master .master__container .master__body .master__body_content.recent__body_item {
    display: none;
  }
  #master .master__container .master__body .master__body_content.recent__body_item .msg-group {
    display: block;
    height: auto;
  }
  #master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_img {
    height: auto;
    border: none;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  #master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_img img {
    height: 80%;
  }
  #master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_details {
    padding-left: 0;
  }
  #master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_details h3 {
    text-align: center;
  }
  #master .master__container .master__body .master__body_content.recent__body_item .msg-group .recent__body_item_details a {
    text-align: center;
  }
}

@media (max-width: 1000px) {
  #master .master__container {
    display: block;
    position: relative;
  }
  #master .master__container .master__navtog {
    display: block;
    height: 30px;
    width: 80px;
    position: absolute;
    background: rgba(0, 0, 0, 0.301);
    margin-left: 5px;
    top: 1%;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }
  #master .master__container .master__navtog span {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #master .master__container .master__navtog.active span {
    display: inline-block;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #master .master__container .master__navigator {
    position: absolute;
    top: 20%;
    z-index: 10;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: translate(-105%, -20%);
            transform: translate(-105%, -20%);
  }
  #master .master__container .master__navigator.active {
    -webkit-transform: translate(0%, -20%);
            transform: translate(0%, -20%);
  }
  #master .master__container .master__navigator .master__navigator_link.nested .master__navigator_link_nested {
    display: block !important;
  }
  #master .master__container .master__navigator .master__navigator_link.nested span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #master .master__container .master__navigator .master__navigator_link span {
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 1rem;
    text-align: right;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #master .master__container .master__navigator .master__navigator_link .master__navigator_link_nested {
    display: none;
  }
  #master .master__container .master__navigator .master__navigator_link .master__navigator_link_nested li {
    padding: 10px 20px;
    position: relative;
    z-index: 10;
  }
  #master .master__container .master__navigator .master__navigator_link .master__navigator_link_nested li:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.2;
    z-index: -1;
  }
}

.contact {
  background: #333333;
  color: white;
}

.contact .contact__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px dotted white;
  width: 100%;
  padding: 10px 0;
}

.contact .contact__header i {
  font-size: 1.2rem;
}

.contact .contact__header h3 {
  margin-left: 10px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.contact .contact__body {
  padding: 20px 0;
}

.contact .row .contact__quicklinks {
  padding: 0 40px;
}

.contact .row .contact__quicklinks .contact__quicklinks_links {
  width: 100%;
}

.contact .row .contact__quicklinks .contact__quicklinks_links .contact__quicklinks_links_col {
  color: rgba(255, 255, 255, 0.452);
}

.contact .row .contact__quicklinks .contact__quicklinks_links .contact__quicklinks_links_col div .contact__quicklinks_link {
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  width: 100px;
  font-weight: 300;
}

.contact .row .contact__quicklinks .contact__quicklinks_links .contact__quicklinks_links_col div.special_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .row .contact__quicklinks .contact__quicklinks_links .contact__quicklinks_links_col div.special_child span {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.contact .row .contact__officedetails {
  padding: 0 40px;
}

.contact .row .contact__officedetails .contact__officedetails_details {
  line-height: 1.2;
  width: 80%;
}

.contact .row .contact__officedetails .contact__officedetails_details h2 {
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: capitalize;
}

.contact .row .contact__officedetails .contact__officedetails_details p {
  text-transform: capitalize;
  font-size: 1rem;
}

.contact .row .contact__officedetails .contact__officedetails_details b {
  text-transform: capitalize;
}

.contact .row .contact__sociallinks {
  padding: 0 40px;
}

.contact .row .contact__sociallinks .contact__sociallinks_details .contact__sociallinks_details_links {
  margin-top: 40px;
}

.contact .row .contact__sociallinks .contact__sociallinks_details .contact__sociallinks_details_links i {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
  opacity: 0.6;
}

.contact .row .contact__sociallinks .contact__sociallinks_details .contact__sociallinks_details_links i:hover {
  opacity: 1;
}

.contact .row .contact__sociallinks .contact__sociallinks_details .contact__sociallinks_details_links i:first-child {
  margin-left: 0;
}

@media (max-width: 1000px) {
  .contact .row .contact__officedetails,
  .contact .row .contact__sociallinks,
  .contact .row .contact__quicklinks {
    width: 100%;
  }
}

footer {
  background: black;
}

footer .container .row {
  height: auto;
  color: white;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.664);
  padding: 10px 0;
}

footer .container .row .footer__copyright {
  padding: 0 10px;
}

footer .container .row .footer__extra {
  width: auto;
}

footer .container .row .footer__extra span {
  padding: 0 10px;
}

footer .container .row .footer__extra span a {
  text-decoration: none;
  color: inherit;
}

footer .container .row .footer__extra span a:hover {
  color: white;
}

footer .container .row .footer__extra span:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.664);
}

@media (max-width: 1000px) {
  footer .container .row {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */