:root {
  --primary-font: "Poppins", sans-serif;
  --bg-primary: #4f1468;
  --hamBtn-color: white;
  --bg-master: #d7d7e0;
  --yellow: #feeb0b;
}
.pre_header {
  .pre_header__banner {
    background: var(--yellow);
    color: rgb(0, 0, 0);
    height: 30px;
    padding: 2px 10px;
    .pre_header__bannerNotice {
      font-size: 1rem;
      line-height: 30px;
      margin-right: 10px;
    }
    .pre_header__bannerDate {
      #time {
        font-weight: bold;
        line-height: 30px;
      }
    }
    @media (max-width: 1000px) {
      height: auto;
      .row {
        text-align: center;
        display: block;
      }
    }
  }
  .pre_header_imgBox {
    margin: auto;
    max-width: 1000px;
    width: 100%;
    img {
      vertical-align: middle;
      object-fit: contain;
      width: 100%;
    }
  }
}
header {
  background: var(--bg-primary);
  nav {
    ul {
      display: flex;
      justify-content: center;
      li {
        list-style: none;
        border-left: 2px solid white;
        a{
          display: inline-block;
          padding: 10px 20px;
          width: 100%;
          &:hover{
                  background: rgba(0, 0, 0, 0.219);
          }
        }
        &:hover {
          &.nav__clickable {
            span {
              transform: rotate(90deg);
            }
          }
          .nav__nestedNav {
            display: block !important;
          }
        }
        &:last-child {
          border-right: 2px solid white;
        }
        &.nav__clickable {
          position: relative;
          .nav__nestedNav {
            display: none;
            background: var(--bg-primary);
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 0;
            width: 200px;
            animation: nestednav 0.3s ease;
            @keyframes nestednav {
              0% {
                transform: translateY(-50px);
                opacity: 0;
              }
              100% {
                transform: translateY(0px);
                opacity: 1;
              }
            }
            li {
              border: none;
              a{
                padding: 10px 20px;
                display: inline-block;
                width: 100%;
                &:hover {
                  background: rgba(0, 0, 0, 0.219);
                }
              }
            }
          }
          span {
            display: inline-block;
            transform: rotate(0deg);
            font-size: 1rem;
            transition: 0.3s ease;
          }
        }
        a {
          text-transform: capitalize;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column-reverse;
    background: none;
    overflow: hidden;
    nav {
      width: 100%;
      ul {
        background: var(--bg-primary);
        display: block !important;
        transform: translateY(-100%);
        transition: 0.3s ease;
        &.nav__ul__open {
          transform: translateY(0%);
        }
        li {
          border-left: none;
          border-bottom: 1px solid white;
          cursor: pointer;
          &:hover {
            &.nav__clickable {
              span {
                transform: rotate(0deg);
              }
            }
          }
          &:last-child {
            border-right: none;
          }
          &.nav__clickable {
            span {
              position: relative;
              left: 10px;
            }
            &.nav__open {
              span {
                transform: rotate(90deg);
              }
              .nav__nestedNav {
                display: block !important;
              }
            }
            .nav__nestedNav {
              display: none !important;
              background: rgb(255, 255, 255);
              position: relative;
              top: 0;
              width: 90%;
              height: auto;
              margin: 20px auto;
              border-left: 1px solid white;
              border-right: 1px solid white;
              transform: translateY(0%);
              li{
                a{
                  color: black;
                }
              }
            }
          }
        }
      }
    }
    .header__btn {
      background: var(--bg-primary);
      z-index: 10;
      border-bottom: 1px solid white;
      padding: 10px;
      #hamBtn {
        height: 50px;
        width: 50px;
        background: transparent;
        border: 2px solid var(--hamBtn-color);
        cursor: pointer;
        overflow: hidden;
        z-index: 100;
        span {
          width: 30px;
          height: 3px;
          background: var(--hamBtn-color);
          box-shadow: 0 10px 0 var(--hamBtn-color),
            0 -10px 0 var(--hamBtn-color);
        }
      }
    }
  }
}
.img_slider {
  transition: 0.3s ease;
  .img_slider__container {
    .img_slider__imgBox {
      max-width: 500px;
      padding: 0 5px;
    }
    .img_slider__slider {
      max-width: 645px;
      width: 100%;
      position: relative;
      .img_slider__slider_item {
        // transform: translateX(115%);
        // display: none;
        opacity: 0;
        position: absolute;
        height: 100%;
        z-index: -1;
        transition: 0.5s ease;
        &.active {
          // transform: translateX(0%);
          // display: block;
          opacity: 1;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
      .img_slider__sliderIcon {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .arrow {
          height: 100%;
          width: 50%;
          display: flex;
          align-items: center;
          &:hover {
            background: rgba(0, 0, 0, 0.055);
            i {
              color: black;
            }
          }
          &.right {
            display: flex;
            justify-content: flex-end;
          }
          i {
            z-index: 1;
            font-size: 2.5rem;
            padding: 10px;
            color: rgba(0, 0, 0, 0.089);
          }
        }
      }
    }
    // WOrk in Process
    // WOrk in Process
    // WOrk in Process
    // WOrk in Process
    // WOrk in Process
 
    @media (max-width: 1000px) {
          height: 200px;
          display: flex;
          justify-content: center;
          margin-bottom: -10px;
      .img_slider__imgBox{
        display: none;
      }
      .img_slider__slider{
        
        .img_slider__slider_item{
          max-height: 400px;
          height: 100%;
          max-width: 1000px;
          width: 100%;
          img{
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
          .img_slider__sliderIcon{
            .arrow{
              &:hover {
                background: transparent;
              }
              i{
                display: none;
            }
          }
        }
      }
    }
       // WOrk in Process
    // WOrk in Process
    // WOrk in Process
    // WOrk in Process   // WOrk in Process
    // WOrk in Process
    // WOrk in Process
    // WOrk in Process   // WOrk in Process
    // WOrk in Process
    // WOrk in Process
    // WOrk in Process
  }
}
#master {
  background: var(--bg-master);
  .master__divider {
    height: 5px;
    width: 100%;
    background: white;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.288);
  }
  .master__container {
    // display: flex;
    padding-top: 40px;
    overflow: hidden;
    .master__navtog {
      display: none;
    }
    .master__navigator {
      border-top: 3px solid var(--yellow);
      flex: 25%;
      .master__navigator_link {
        display: inline-block;
        width: 100%;
        position: relative;
        font-size: 0.9rem;
        padding: 10px 20px;
        text-transform: capitalize;
        background: var(--bg-primary);
        color: white;
        z-index: 10;
        cursor: pointer;
        @media (min-width: 1000px) {
          &:hover {
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background: black;
              opacity: 0.2;
              z-index: -1;
            }
            .master__navigator_link_nested {
              display: block !important;
            }
            span {
              transform: rotate(90deg);
            }
          }
        }

        span {
          display: inline-block;
          position: absolute;
          right: 10px;
          font-size: 1rem;
          text-align: right;
          transition: 0.2s ease;
        }
        .master__navigator_link_nested {
          display: none;
          list-style: none;
          position: absolute;
          right: -100%;
          top: 0;
          height: auto;
          width: 100%;
          background: var(--bg-primary);
          li {
            a {
              padding: 10px 20px;
              position: relative;
              z-index: 10;
            }
            &:hover {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: black;
                opacity: 0.2;
                z-index: -1;
              }
            }
          }
        }
      }
    }
    .master__body {
      scroll-behavior: smooth;
      // border: 2px solid red;
      margin: 0 40px;
      flex: 75%;
      height: 80vh;
      overflow: scroll;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
      .recent__tabs {
        display: flex;
        justify-content: space-evenly;
        .recent__tabs_item {
          display: inline-block;
          text-align: center;
          width: 100%;
          padding: 10px 0;
          text-transform: capitalize;
          border: 1px solid gray;
          cursor: pointer;
          &.active {
            background: #ededed;
          }
          &:hover:not(.active) {
            background: #ededed25;
          }
        }
      }
      .master__navigator_item:nth-child(3) {
        h1 {
          &::after {
            content: "No Scroll";
            font-size: 0.8rem;
            position: relative;
            left: 10px;
          }
        }
        p {
          height: auto;
          overflow: visible;
          background: transparent;
        }
      }
      .master__body_content {
        padding: 40px 0px;
        h1 {
          display: inline-block;
          position: relative;
          background: #33333311;
          width: 100%;
          padding: 10px 0;
          text-align: center;
          text-transform: capitalize;
        }
        p {
          text-align: justify;
          display: inline-block;
          max-height: 500px;
          height: 100%;
          background: #ededed;
          overflow-y: scroll;
          padding: 10px 5px;
          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */
          &::-webkit-scrollbar {
            display: none;
          }
        }
        &.recent__body_item {
          display: none;
          .msg-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            height: auto;
            .recent__body_item_img {
              height: auto;
              border: 1px solid black;
              img {
                padding: 5px;
                object-fit: contain;
                width: 100%;
                vertical-align: middle;
              }
            }
            .recent__body_item_details {
              padding-left: 40px;
              h3 {
                text-transform: capitalize;
              }
              p {
                font-size: 0.8rem;
                background: transparent;
                padding-left: 0;
              }
              a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                color: red;
                font-weight: 600;
              }
            }
          }
          &.active {
            display: block;
            animation: recent__bodyPopup 0.3s ease;
            @keyframes recent__bodyPopup {
              0% {
                transform: translateY(-50px);
                opacity: 0;
              }
              100% {
                transform: translateY(0px);
                opacity: 1;
              }
            }
          }
        }
      }
      @media (max-width: 1000px) {
        .recent__tabs {
          .recent__tabs_item {
            padding: 5px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
          }
        }
        .master__body_content {
          h1 {
            font-size: 1.2rem;
          }
          p {
            font-size: 0.8rem;
          }
          &.recent__body_item {
            display: none;
            .msg-group {
              display: block;
              height: auto;
              .recent__body_item_img {
                height: auto;
                border: none;
                max-width: 500px;
                width: 100%;
                margin: auto;
                img {
                  height: 80%;
                }
              }
              .recent__body_item_details {
                padding-left: 0;
                h3 {
                  text-align: center;
                }
                a {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 1000px) {
      .master__navtog {
        display: block;
        height: 30px;
        width: 80px;
        position: absolute;
        background: rgba(0, 0, 0, 0.301);
        margin-left: 5px;
        top: 7%;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        span {
          transition: 0.3s ease;
          transform: rotate(0deg);
        }
        &.active {
          span {
            display: inline-block;
            transition: 0.3s ease;
            transform: rotate(180deg);
          }
        }
      }
      display: block;
      position: relative;
      .master__navigator {
        position: absolute;
        top: 20%;
        z-index: 10;
        transition: 0.3s ease;
        transform: translate(-105%, -20%);
        &.active {
          transform: translate(0%, -20%);
        }
        li{
          .master__navigator_link{
            &:hover {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: black;
                opacity: 0.2;
                z-index: -1;
              }
            }
          }
        }
        .master__navigator_link {
          &.nested {
            .master__navigator_link_nested {
              display: block !important;
            }
            span {
              transform: rotate(90deg);
            }
          }
          span {
            display: inline-block;
            position: absolute;
            right: 10px;
            font-size: 1rem;
            text-align: right;
            transition: 0.2s ease;
          }
          .master__navigator_link_nested {
            display: none;
            li {
              position: relative;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}
.contact {
  background: #333333;
  color: white;
  .contact__header {
    align-items: center;
    border-bottom: 2px dotted white;
    width: 100%;
    padding: 10px 0;
    i {
      font-size: 1.2rem;
    }
    h3 {
      margin-left: 10px;
      font-weight: 400;
      text-transform: capitalize;
      font-size: 1.5rem;
    }
  }
  .contact__body {
    padding: 20px 0;
  }
  .row {
    .contact__quicklinks {
      padding: 0 40px;
      .contact__quicklinks_links {
        width: 100%;
        .contact__quicklinks_links_col {
          color: rgba(255, 255, 255, 0.452);
          div {
            .contact__quicklinks_link {
              display: inline-block;
              line-height: 2;
              text-decoration: none;
              color: white;
              font-size: 0.9rem;
              width: 100px;
              font-weight: 300;
            }
            &.special_child {
              display: flex;
              span {
                position: relative;
                top: 2px;
                margin-right: 2px;
              }
            }
          }
        }
      }
    }
    .contact__officedetails {
      padding: 0 40px;
      .contact__officedetails_details {
        line-height: 1.2;
        width: 80%;
        h2 {
          font-size: 1.5rem;
          font-weight: normal;
          text-transform: capitalize;
        }
        p {
          text-transform: capitalize;
          font-size: 1rem;
        }
        b {
          text-transform: capitalize;
        }
      }
    }
    .contact__sociallinks {
      padding: 0 40px;
      .contact__sociallinks_details {
        .contact__sociallinks_details_links {
          margin-top: 40px;
          i {
            color: white;
            font-size: 1.5rem;
            margin: 0 10px;
            opacity: 0.6;
            &:hover {
              opacity: 1;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
    @media (max-width: 1000px) {
      .contact__officedetails,
      .contact__sociallinks,
      .contact__quicklinks {
        width: 100%;
      }
    }
  }
}
footer {
  background: black;
  .container {
    .row {
      height: auto;
      color: white;
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.664);
      padding: 10px 0;
      .footer__copyright {
        padding: 0 10px;
      }
      .footer__extra {
        width: auto;
        span {
          padding: 0 10px;
          a {
            text-decoration: none;
            color: inherit;
            &:hover {
              color: white;
            }
          }
          &:last-child {
            border-left: 1px solid rgba(255, 255, 255, 0.664);
          }
        }
      }
      @media (max-width: 1000px) {
        height: auto;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
      }
    }
  }
}
